@value colorWhite,colorBlue from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: border;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: colorWhite;
  margin-right: 0.3em;
  cursor: pointer;
  transform: rotate(90deg);
  transition: transform ease 300ms;
}

.btn.active,
.btn:hover {
  background-color: colorWhite;
  color: colorBlue;
  transform: none;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}
