@value colorBlue,colorWhite from "../../common/color.css";

.timer {
  font-size: 3rem;
  padding: 0.2em 0.5em;
  display: inline-block;
}

/* // const isNarrowDesktop = useMediaQuery({
//   minWidth: 900,
//   maxWidth: 1100,
// });
// const isTable = useMediaQuery({ minWidth: 700, maxWidth: 900 });
// const isMobile = useMediaQuery({ maxWidth: 700 }); */

@media screen and (max-width: 900px) {
  .timer {
    font-size: 2.5rem;
    padding: 0.2em 0.5em;
    display: inline-block;
  }
}
