@value colorBlue,colorWhite,colorBlack from "../../common/color.css";

.container {
  width: 100%;
  height: 100vh;
  color: colorWhite;
  background-color: colorBlack;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 0;
  height: 50%;
  color: colorWhite;
}

.wrapper {
  background-color: colorBlack;
  text-align: center;
  padding-top: 5.2rem;
  width: 100%;
  height: 99%;
}

.video {
  width: 100%;
  height: 100%;
  max-width: 70rem;
  border: none;
}

.btn {
  position: absolute;
  right: 0;
  bottom: 3rem;
}
