@value colorWhite,colorBlue from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";

a {
  text-decoration: none;
  color: colorWhite;
}

.wrapper {
  transform: translate(1.1em);
  padding: 0.5em 1em;
  height: 100%;
  display: flex;
  justify-content: center;
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list.row {
  flex-direction: row;
}

.list.row .item:hover,
.list.row .item:hover a {
  background-color: transparent;
  color: colorWhite;
}

.item {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.8em 0.9em;
  cursor: pointer;
}

.list.row .item {
  padding: 0.5em 1em;
}

.item:hover,
.item:hover a {
  background-color: colorWhite;
  color: colorBlue;
}

.item.firstRowIn {
  animation: menuIn 500ms ease-in forwards;
}

.item.secondRowIn {
  animation: menuIn 750ms ease-in forwards;
}

.item.thirdRowIn {
  animation: menuIn 1000ms ease-in forwards;
}

.item.firstRowOut {
  animation: menuOut 600ms ease-in forwards;
}

.item.secondRowOut {
  animation: menuOut 400ms ease-in forwards;
}

.item.thirdRowOut {
  animation: menuOut 200ms ease-in forwards;
}

.bar {
  max-height: 100%;
  width: 2px;
  background-color: colorWhite;
  opacity: 0;
}

.bar.active {
  animation: menuIn 250ms ease-in forwards;
}

.bar.inactive {
  animation: menuOut 800ms ease-in forwards;
}

@keyframes menuIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menuOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .list.row .item {
    font-size: 1rem;
  }
}
