@value colorWhite,colorBlack from "../../common/color.css";

.wrapper {
  width: 35%;
  padding: 2em;
}

.video {
  position: relative;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
}

.metadata {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colorBlack;
  display: none;
}

.title {
  margin-left: 1em;
  font-size: 0.8rem;
}

.video:hover .metadata {
  display: flex;
}
