@value colorBlue,colorWhite,colorBlack from "../../common/color.css";

.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  color: colorWhite;
  background: url('../../../public/img/bg.jpg') center/cover;
  z-index: -1;
}

.header {
  padding: 1em;
  display: flex;
  align-items: center;
}

.timer {
  margin-right: 4em;
}

.container {
  height: 100vh;
  color: colorWhite;
}

.main {
  display: flex;
  overflow: hidden;
}

.sliders {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
