@value colorWhite,colorBlue from "../../common/color.css";

.videos {
  color: colorWhite;
  position: absolute;
}

.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  color: colorWhite;
  background: url("/public/img/bg.jpg") center/cover;
  z-index: -1;
}

.main {
  display: flex;
}

.menu {
  height: 100%;
}

.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
