@value colorWhite,colorBlue from "../../common/color.css";

.videos {
  width: 100%;
  height: 100%;
  color: colorWhite;
  position: relative;
}

.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  color: colorWhite;
  background: url("/public/img/bg.jpg") center/cover;
  z-index: -1;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  left: 1.1em;
  height: 100%;
  z-index: 1000;
}

.loading {
  font-size: 4rem;
}

.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
