@value colorWhite,colorBlue from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";

* {
  box-sizing: border-box;
}

.home {
  background-color: colorBlue;
  height: 100vh;
  color: colorWhite;
  background: url("/public/img/bg.jpg") center/cover;
}

.menuAndTodo {
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 6rem;
  font-family: Yasashii;
  position: fixed;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  font-size: 1.3rem;
  border: border;
  padding: 0.2em;
  border-radius: 0.4em;
  position: absolute;
  left: 49%;
  top: 3rem;
  animation: GoingDown ease 3000ms forwards;
}

@keyframes GoingDown {
  from {
    transform: translate(-50%, -200%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}
