@value colorWhite,colorBlue from "../../common/color.css";

* {
  box-sizing: border-box;
}

.home {
  background-color: colorBlue;
  height: 100vh;
  color: colorWhite;
  background: url("/public/img/bg.jpg") center/cover;
}

.menuAndTodo {
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}

.musicAndWeather {
  display: flex;
  align-items: center;
}

.title {
  font-size: 6rem;
  font-family: Yasashii;
  position: fixed;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
