@value colorWhite from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";
.container {
  width: 20rem;
  color: colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
}

.input {
  margin: 0 0.2em;
  padding: 0.5em 0.5em;
  text-align: center;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  border: border;
  border-radius: borderRadius;
  color: colorWhite;
}

.input::placeholder {
  color: colorWhite;
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: colorWhite;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all ease 300ms;
}

.btn.active,
.header:hover .btn {
  transform: none;
}
