@value colorWhite,colorBlue from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";
.container {
  width: 18rem;
  color: colorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
}

.input {
  margin: 0 0.2em;
  text-align: center;
  font-size: 0.9rem;
  outline: none;
  background-color: transparent;
  border: border;
  border-radius: borderRadius;
  color: colorWhite;
}

.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: colorWhite;
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: transparent;
  border: border;
  border-radius: 50%;
  color: colorWhite;
  cursor: pointer;
  transform: rotate(90deg);
  transition: all ease 300ms;
  width: 2rem;
  height: 2rem;
}

.btn.active,
.header:hover .btn {
  transform: none;
  color: colorBlue;
  background-color: colorWhite;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .input {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0 auto;
    width: 85%;
  }
  .input {
    font-size: 0.7rem;
  }
}
