@value colorBlue,colorWhite from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";

.input {
  font-size: 1.5rem;
  padding: 0.5em 0.6em;
  background-color: transparent;
  border: border;
  border-radius: borderRadius;
  color: colorWhite;
  text-align: center;
}

.input::placeholder {
  color: colorWhite;
}

.input:focus {
  outline: none;
}

.name {
  padding: 0.5em 1em;
  border-radius: borderRadius;
  border: border;
  font-size: 1.5rem;
  display: none;
}

.name.active {
  display: inline;
}
