@value colorBlue,colorWhite from "../../common/color.css";

.input {
  font-size: 1.5rem;
  padding: 0.5em 0.6em;
  background-color: transparent;
  border: 2px solid colorWhite;
  border-radius: 0.5em;
  color: colorWhite;
  text-align: center;
}

.input::placeholder {
  color: colorWhite;
}

.input:focus {
  outline: none;
}

.name {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px solid colorWhite;
  font-size: 1.5rem;
  display: none;
}

.name.active {
  display: inline;
}
