@value colorBlue,colorWhite from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";

.container {
  text-align: center;
  margin: 0.5em 0;
  width: 100%;
  border-radius: borderRadius;
  border: border;
  padding: 0.5em 1em;
  display: none;
}

.container.active {
  display: block;
}

.title {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5em;
}

.list {
  margin: 0;
  padding: 0;
  min-height: 6rem;
  max-width: 17rem;
  max-height: 7rem;
  overflow: auto;
}
