@value colorBlue,colorWhite,colorBlack from "../../common/color.css";
:root {
  --img-size: 5rem;
}

.container {
  list-style: none;
  display: flex;
  animation: SlideLeft ease-in 55s infinite;
  animation-delay: 500ms;
  margin-bottom: 2em;
}

.container.delayed {
  animation: SlideLeft ease-in 65s infinite;
  animation-delay: 500ms;
}

.container:hover,
.container.delayed:hover {
  animation-play-state: paused;
}

.item {
  border: colorWhite 2px solid;
  border-radius: 1em;
  margin-right: 0.5em;
  width: 100%;
  height: calc(var(--img-size) * 3);
}

.img {
  border-radius: 1em;
  width: calc(var(--img-size) * 4);
  height: 100%;
}

@keyframes SlideLeft {
  0% {
    transform: translateX(50vw);
  }

  90% {
    opacity: 1;
  }
  90.1% {
    transform: translateX(-500vw);
    opacity: 0;
  }
  90.2% {
    transform: translateX(-500vw);
    opacity: 1;
  }
  90.3% {
    transform: translateX(100vw);
    opacity: 1;
  }
  100% {
    transform: translateX(95vw);
    opacity: 1;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  :root {
    --img-size: 4rem;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --img-size: 3.5rem;
  }
}
