@value colorWhite,colorBlue from "../../common/color.css";
@value borderRadius,border from "../../common/size.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5em;
}

.title {
  width: 100%;
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  border: border;
  border-radius: borderRadius;
  margin-bottom: 0.5em;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  color: colorWhite;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5em;
  border: border;
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn.active {
  color: colorBlue;
  background-color: colorWhite;
}

@media screen and (max-width: 550px) {
  .container {
    margin: 0;
    margin-top: 0.3em;
    width: 40%;
  }

  .title {
    width: 80%;
    padding: 0.25em;
  }
  .btns {
    width: 50%;
  }
  .btn {
    width: 1.5rem;
    height: 1.5rem;
  }
}
