@value colorWhite,colorBlue from "./common/color.css";

* {
  box-sizing: border-box;
}

.app {
  background-color: colorBlue;
  height: 100vh;
  color: colorWhite;
}

.menuAndTodo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
